<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestingCI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C84EE0E91BD5703F002E1F36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C84EE1021BD57041002E1F36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C84EE10D1BD57041002E1F36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
